<div class="container storebar-wrapper">
  <div class="row">
    <div class="col-3">
      <h1><strong>BOOKSTORE</strong></h1>
    </div>
    <div class="col-5">
      <div class="search-group clearfix d-inline">
        <div>
          <mat-form-field class="float-left" appearance="outline">
            <input matInput placeholder="What are you looking for?">
          </mat-form-field>
        </div>
        <div>
          <button class="float-right" mat-fab color="primary">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-4 storebar-tools">
      <div class="tool-item">
        <button mat-button>
          <mat-icon>favorite_border</mat-icon>
          <span>My Wishes</span>
        </button>
      </div>
      <div class="tool-item">
        <button mat-button>
          <mat-icon>shopping_cart</mat-icon>
          <span>Basket</span>
        </button>
      </div>
      <div class="tool-item">
        <button mat-button>
          <mat-icon>person_outline</mat-icon>
          <span>
            LOG IN
          </span>
        </button>
      </div>
    </div>
  </div>
</div>