<div class="bootstrap-wrapper">
  <mat-toolbar>
    <div class="container">
      <div class="navbar-items">
        <div class="nav-item">
          <button mat-button>Home</button>
        </div>
        <div class="nav-item">
          <button mat-button>About us</button>
        </div>
        <div class="nav-item">
          <button mat-button>Contact us</button>
        </div>
        <div class="nav-item">
          <button mat-button>Basic</button>
        </div>
        <div class="nav-item">
          <button mat-button>Basic</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>