<div class="bootstrap-wrapper">
  <div class="container-fluid main-content">
    <div class="row">
      <div class="col-md-3">
        <app-category-card (selectedCategory)="onCategorySelected($event)"></app-category-card>
      </div>
      <div class="col-md-9">
        <div class="clearfix">
          <div class="float-left">
            <mat-form-field appearance="outline">
              <mat-select (selectionChange)="changeSortOption($event.value)">
                <mat-option>-- None --</mat-option>
                <mat-option value="priceAscendant">Price : Low to High</mat-option>
                <mat-option value="priceDescendant">Price : High to Low</mat-option>
                <mat-option value="nameAscendant">Name : A to Z</mat-option>
                <mat-option value="nameDescendant">Name : Z to A</mat-option>
              </mat-select>
              <mat-label>
                <mat-icon matSuffix>sort</mat-icon> Sorted by
              </mat-label>
            </mat-form-field>
          </div>
          <div class="page-size float-right">
            <mat-form-field appearance="outline">
              <mat-select (selectionChange)="changeSizePage($event.value)">
                <mat-option value="12">12</mat-option>
                <mat-option value="24">24</mat-option>
                <mat-option value="36">36</mat-option>
              </mat-select>
              <mat-label>
                <mat-icon matSuffix>pages</mat-icon>
              </mat-label>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-divider [inset]="false"></mat-divider>
          </div>
        </div>
        <div *ngIf="books&&authSvc.currentUserValue?.roleName!=='User'">
            <app-admin-book-list [(listBooks)]="books" [pageSize]="bookPerPage"></app-admin-book-list>
        </div>
        <div *ngIf="books&&authSvc.currentUserValue?.roleName==='User'" >
          <app-book-list [listBooks]="books"></app-book-list>
        </div>
      </div>
    </div>
  </div>
</div>