<div class="bootstrap-wrapper">
  <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title>{{book.title}}</mat-card-title>
      <mat-card-subtitle>        
          <span *ngFor="let category of book.categories">{{category.categoryName}}  </span>
      </mat-card-subtitle>
    </mat-card-header>
    <div class="picture-block">
      <img mat-card-image [src]="book.imageUrl" [alt]="book.title">    
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="book-price">
        <p><strong>Price : </strong>{{book.price}}</p>
      </div>
      <div class="book-author">
        <p>
          <strong>Author : </strong>
          <span *ngFor="let author of book.authors">{{author.authorName}} </span>
        </p>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <button mat-raised-button color="primary" (click)="addToCart(book.id)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
          <div class="col-4">
            <button mat-button>
              <mat-icon>favorite_border</mat-icon>
            </button>
          </div>
          <div class="col-4">
            <button (click)="showDetail(book.id)"mat-button>
              <mat-icon>crop_free</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>