<div class="bootstrap-wrapper">
  <div class="details-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="relative image-container">
            <div class="absolute-center">
              <img src="../../../assets/images/uberman-the-novel.jpg" alt="book-img">
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="page-title">
            <h1><strong>Book Title</strong></h1>
          </div>
          <mat-card class="card-offer">
            <mat-card-content>
              <div class="book-price">
                <h3>Price: 100$</h3>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="bk-action-qty">
                    <app-counter></app-counter>
                  </div>
                </div>
                <div class="col-md-9 bk-add-to-card">
                  <button mat-raised-button color="primary">
                    <mat-icon>add_shopping_cart</mat-icon> Add to cart
                  </button>
                </div>
              </div>
              <div class="row separator">
                <mat-divider inset="true"></mat-divider>
              </div>
              <div class="row adtn-actions">
                <div class="col-md-6">
                  <button mat-button>
                    <mat-icon>favorite</mat-icon> Add to list
                  </button>
                </div>

                <div class="col-md-6">
                  <button mat-button>
                    <mat-icon>email</mat-icon> Questions?
                  </button>
                </div>
              </div>
              <div class="row separator">
                <mat-divider inset="true"></mat-divider>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group class="tabs">
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title">Description</strong>
              </ng-template>
              <div>
                <h1>Best pasta restaurants</h1>
                <p>From idiots to riches - and back ...
                  Ever since it with my Greek financial advisors were no more delicious cookies to meetings, I should
                  have
                  known something. Was the last cookie it when I bought a Romanian forest funds and leveraged discount
                  certificates on lean hogs - which is sort of a more stringent bet that the price of lean hogs will
                  remain stable, and that's nothing special because it is also available for cattle and cotton and fat
                  pig. Again and again and I joked Kosmas Nikiforos Sarantakos. About all the part-time seer who
                  tremblingly put for fear the euro crisis gold coins under the salami slices of their frozen pizzas And
                  then came the day that revealed to me in almost Sarantakos fraudulent casualness that my plan had not
                  worked out really. 'Why all of a sudden> my plan', 'I heard myself asking yet, but it was in the
                  garage
                  I realized what that really meant minus 211.2 percent in my portfolio report: personal bankruptcy,
                  gutter and Drug Addiction with subsequent loss of the incisors . Not even the study of my friend, I
                  would still be able to finance. The only way out was to me as quickly as secretly again to draw from
                  this unspeakable Greek shit - I had to be Überman! By far the bekloppteste story about 'idiot' Simon
                  Peter! »Tommy Jaud – Deutschlands witzigste Seite.« Alex Dengler, Bild am Sonntag</p>
              </div>
            </mat-tab>
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title">Features</strong>
              </ng-template>
              <h1>All details</h1>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Author</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>author name</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Category</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>Category name</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Language</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>Language name</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Page size</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>234908 ст.</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Date of publication</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>11/11/11</p>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title">Comments</strong>
              </ng-template>
              <div>
                <h1>Terrible sushi restaurants</h1>
                <p>...</p>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>