<div class="container">
  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <div class="page-title">
        <h1>Book Title</h1>
      </div>
      <mat-card class="card-offer">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile colspan="3">1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>