<div class="bootstrap-wrapper">
  <div class="details-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">          
              <img src="{{currentBook?.imageUrl}}" [alt]="currentBook?.title">           
        </div>
        <div class="col-md-6">
          <div class="page-title">
            <h1><strong>{{currentBook?.title}}</strong></h1>
          </div>
          <div *ngIf="currentBook?.mark" class="rating">
            <star-rating value="{{currentBook?.mark}}" checkedcolor="#f70" uncheckedcolor="#ddd" size="30px"
              readonly="true"></star-rating>
          </div>
          <mat-card class="card-offer">
            <mat-card-content>
              <div class="book-price">
                <h3>Price: {{currentBook?.price}}$</h3>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="bk-action-qty">
                    <app-counter (counterValue)="onQuantityChanged($event)"></app-counter>
                  </div>
                </div>
                <div class="col-md-9 bk-add-to-card">
                  <button mat-raised-button color="primary" (click)="addToCart(currentBook?.id)">
                    <mat-icon>add_shopping_cart</mat-icon> Add to cart
                  </button>
                </div>
              </div>
              <div class="row separator">
                <mat-divider inset="true"></mat-divider>
              </div>
              <div class="row adtn-actions">
                <div class="col-md-6">
                  <button mat-button>
                    <mat-icon>favorite</mat-icon> Add to list
                  </button>
                </div>

                <div class="col-md-6">
                  <button mat-button>
                    <mat-icon>email</mat-icon> Questions?
                  </button>
                </div>
              </div>
              <div class="row separator">
                <mat-divider inset="true"></mat-divider>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group class="tabs">
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title">Description</strong>
              </ng-template>
              <div>
                <p>{{currentBook?.description}}</p>
              </div>
            </mat-tab>
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title">Features</strong>
              </ng-template>
              <h1>All details</h1>
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Author</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p><span *ngFor="let author of currentBook?.authors">{{author.authorName}} </span></p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Category</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p><span *ngFor="let category of currentBook?.categories">{{category.categoryName}} </span></p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Language</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>{{currentBook?.language}}</p>
                  </div>
                </div>
                <mat-divider></mat-divider>
                <div class="row">
                  <div class="col-md-4">
                    <p><strong>Page size</strong></p>
                  </div>
                  <div class="col-md-8">
                    <p>{{currentBook?.pageSize}}</p>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab class="tab-content">
              <ng-template mat-tab-label>
                <strong class="tab-title" [matBadge]="bookComments?.length" matBadgeColor="accent" matBadgeOverlap="false">Reviews</strong>
              </ng-template>
              <div class="review-action">
                <app-add-comment [bookId]="currentBook?.id" (commentAdded)="onCommentsChanged($event)"></app-add-comment>
                <app-comment-list [comments]="bookComments" (commentDeleted)="onCommentsChanged($event)">
                </app-comment-list>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>