<div class="bootstrap-wrapper">
    <div *ngFor="let wish of cartSvc.wishListValue">
      <mat-divider></mat-divider>
      <div class="cart-item-content">
        <div class="row">
          <div class="col-md-4">
            <img [src]="wish.book.imageUrl" [alt]="wish.book.title">
          </div>
          <div class="col-md-8">
            <h3>{{item.book.title}}</h3>
            <p>{{item.book.description}}</p>
          </div>
        </div>
      </div>
      <div class="row action-items">
        <div class="col-md-4">
          <app-counter [currentValue]="wish.quantity" (counterValue)="onValueChange($event, item)"></app-counter>
        </div>
        <div class="col-md-5">
          <h4>${{wish.book.price}} excl tax</h4>
        </div>
        <div class="col-md-3">
          <button mat-raised-button color="warn" (click)="deleteWish(wish.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-toolbar color="primary" style="position: fixed; bottom: 0;">
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button mat-stroked-button>Buy now</button>
          </div>
          <div class="col-md-4">
            <span><span>Total sum :</span> <strong> ${{wish.book.price}} excl tax</strong></span>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>